<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Search</title>
    <link rel="stylesheet" href="../styles/search.css">
</head>
<body>

    <div class="search-container">
        <input type="text" id="search-input" placeholder="Search for an object in the video..." />
        <button id="search-button">Search</button>
    </div>

    
    <div id="status-message" class="hidden">Welcome to Vidify! Please search for an item in this video.</div>

    <div id="loading-spinner" class="hidden"></div>

    <div id="results-container"></div> 


    <script src="../search.js"></script>
</body>
</html>
